/* Carousel */
.carousel-caption {
  padding: 0;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2666666667);
  background-color: rgba(0, 0, 0, 0.3333333333);
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2666666667);
  display: flex;
  width: 100%;
  left: 0;
}
.carousel-caption h5 {
  font-size: 1.5rem;
  margin: 5px 0px 0px 0px;
}
.carousel-caption p {
  font-size: 1.1rem;
  margin: 5px 0px 0px 0px;
}

@media (max-width: 576px) {
  .carousel-caption h5 {
    font-size: 1.2rem;
    margin: 5px 0px 0px 0px;
  }
  .carousel-caption p {
    font-size: 0.8rem;
    margin: 5px 0px 0px 0px;
  }
}
@media (min-width: 992px) {
  .carousel-caption h5 {
    font-size: 2.1rem;
    margin: 5px 0px 0px 0px;
  }
  .carousel-caption p {
    font-size: 1.7rem;
    margin: 5px 0px 0px 0px;
  }
}
/* section nosotros */
.nosotros {
  background-color: #8bc6ff;
  padding-top: 20px;
}
.nosotros .c-nosotros {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.nosotros .c-nosotros__img {
  max-width: 350px;
  min-width: 200px;
  padding: 10px;
}
.nosotros .c-nosotros__p {
  width: 350px;
  margin: auto 0;
  text-align: justify;
  padding: 10px;
}

/* section planes */
.section-planes {
  padding: 2px 2px 35px 2px;
}

/* div planes */
.planes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px 5px;
  /* div plan (4) */
}
.planes .plan {
  display: flex;
  width: 165px;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  text-align: center;
  padding: 0px 1px;
  margin: 20px 2px;
  box-shadow: 0px 0px 5px black;
  transition: all 0.3s;
}
.planes .plan:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 10px black;
}
.planes .plan__h4 {
  position: relative;
  top: -15px;
  width: 60%;
  border-radius: 20px;
  color: white;
  text-shadow: 0px 0px 2px;
  background-color: #005ebe;
}
.planes .plan__p-precio {
  font-size: 2rem;
  margin: 0;
  color: #005ebe;
  text-shadow: 0px 0px 12px #0e18a9;
}
.planes .plan__p-periodo {
  position: relative;
  font-size: 1rem;
  top: -14px;
  margin: 0;
  color: #005ebe;
  text-shadow: 0px 0px 12px #0e18a9;
}

/* beneficios */
.beneficios {
  display: flex;
  max-width: 280px;
  min-height: 150px;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  text-align: center;
  padding: 0px 1px 10px 1px;
  margin: 2px auto;
  box-shadow: 0px 0px 5px black;
  transition: all 0.3s;
  background-color: #005ebe;
  color: white;
}
.beneficios .bene__h4 {
  position: relative;
  top: -15px;
  max-width: 245px;
  padding: 3px 5px;
  font-size: 1.2rem;
  border-radius: 20px;
  color: #005ebe;
  text-shadow: 0px 0px 2px;
  box-shadow: inset 0px 0px 1px black;
  background-color: white;
}
.beneficios .bene__div {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 2px 25px 2px;
}
.beneficios .bene__div img {
  width: 35px;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0px 0px 3px black;
}
.beneficios .bene__p,
.beneficios .bene__p:last-child {
  margin: 0;
}

/* section servicios */
.servicios {
  background-color: #8bc6ff;
  /* article cards */
  /* article decide */
  /* media para reducir width de .cards__img y .decide__img */
}
.servicios .cards__div,
.servicios .decide__div {
  width: 300px;
  text-align: center;
  border: none;
  padding: 20px 20px;
}
.servicios .cards__div h2,
.servicios .decide__div h2 {
  color: #0e18a9;
  text-shadow: 0px 0px 3px;
  font-size: 1.5rem;
}
.servicios .cards__div p,
.servicios .decide__div p {
  font-size: 1rem;
  justify-content: center;
}
.servicios .cards__img,
.servicios .decide__img {
  max-width: 250px;
  padding: 20px;
}
.servicios .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0px 30px 0px;
}
.servicios .decide {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0px;
}
.servicios .decide__div ul {
  list-style: none;
  padding: 0;
}
@media (max-width: 576.8px) {
  .servicios .cards__img,
  .servicios .decide__img {
    width: 200px;
  }
}

.section-maps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 50px;
  padding: 50px 10px;
}
.section-maps__h2 {
  font-size: 1.3rem;
  text-align: center;
  padding: 0px 5px;
}
.section-maps .maps {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 250px;
  border-radius: 10px 30px;
  overflow: hidden;
  box-shadow: 0px 0px 5px black;
  transition: all 0.4s;
}
.section-maps .maps:hover {
  transform: translate(0px, -5px);
  box-shadow: 0px 0px 10px black;
}
.section-maps .maps__h3 {
  background-color: #0e18a9;
  color: white;
  text-shadow: 0px 0px 2px;
  padding: 10px 5px;
}
.section-maps .maps__img {
  width: 99%;
  padding: 5px 5px 20px 5px;
}
.section-maps .maps__p {
  color: black;
  padding: 0px 5px 10px 5px;
  margin: 0;
}

/* section contacto */
/* div contacto */
.contacto {
  min-height: 150px;
}
.contacto .fb {
  text-shadow: 0px 0px 3px blue;
}
.contacto .fb__i {
  color: blue;
  font-size: 3rem;
}
.contacto .fb > * {
  transition: all 0.3s;
}
.contacto .fb__a {
  transform: rotateY(90deg);
}
.contacto .fb:hover > .fb__i {
  font-size: 3.3rem;
}
.contacto .fb:hover > .fb__a {
  font-size: 1rem;
  transform: rotateY(0deg);
}
.contacto .wa {
  text-shadow: 0px 0px 3px green;
}
.contacto .wa__i {
  color: green;
  font-size: 3rem;
}
.contacto .wa > * {
  transition: all 0.3s;
}
.contacto .wa__a {
  transform: rotateY(90deg);
}
.contacto .wa:hover > .wa__i {
  font-size: 3.3rem;
}
.contacto .wa:hover > .wa__a {
  font-size: 1rem;
  transform: rotateY(0deg);
}
.contacto .go {
  text-shadow: 0px 0px 3px red;
}
.contacto .go__i {
  color: red;
  font-size: 3rem;
}
.contacto .go > * {
  transition: all 0.3s;
}
.contacto .go__a {
  transform: rotateY(90deg);
}
.contacto .go:hover > .go__i {
  font-size: 3.3rem;
}
.contacto .go:hover > .go__a {
  font-size: 1rem;
  transform: rotateY(0deg);
}

/* section escribenos*/
.escribenos__h2 {
  font-size: 1.3rem;
  text-align: center;
}

/* Formulario */
.form__contacto {
  padding: 10px 10%;
}
.form__contacto .legend {
  font-size: 0.8rem;
  margin-bottom: 0;
}
.form__contacto .btn {
  padding: 8px;
  min-width: 100px;
  transition: all 0.3s;
}
.form__contacto .btn:hover {
  background-color: #0e18a9;
  color: white;
  font-weight: bolder;
  box-shadow: 0px 0px 4px #005ebe;
  transform: translate(0px, -3px);
}

@media (max-width: 576.8px) {
  .form__contacto {
    padding: 10px 3%;
  }
}
.login-body {
  background: url(../assets/images/fondoLog.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* width y minheight de main-login */
.main-login {
  height: 100vh;
  min-height: 450px;
}

/* styles form-container */
.form__container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 50px var(--azul-dos);
  background-color: rgba(0, 94, 190, 0.9333333333);
  border-radius: 5px;
  width: 360px;
  height: 400px;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-size: 1rem;
  margin: 0px 15px;
}

.icon__login {
  font-size: 100px;
  color: white;
}

.form__campo {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 3px;
  width: 80%;
  padding: 8px;
  margin: 0px 0px 20px 0px;
}

.form__campo::placeholder {
  color: rgba(255, 255, 255, 0.3333333333);
  font-size: 0.8rem;
}

.form__campo:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.form__label {
  width: 80%;
  color: white;
  text-align: left;
}

.form__button {
  width: 80%;
  padding: 8px;
  background: white;
  transition: all 0.3s;
}

.form__button:hover {
  background-color: var(--azul-uno);
  color: white;
  font-weight: bolder;
  box-shadow: 0px 0px 4px var(--azul-dos);
  transform: translate(0px, -3px);
}

/* media para breakpoint */
@media (max-width: 576px) {
  .form__container {
    font-size: 0.8rem;
  }
  .form__campo::placeholder {
    font-size: 0.7rem;
  }
}
* {
  border: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
  box-sizing: border-box;
}

/* navbar */
.navbar {
  background-color: #005ebe;
  padding: 8px 10px;
  font-size: 1rem;
}
.navbar img {
  width: 30px;
}
.navbar__enlaces ul {
  display: flex;
  width: 100%;
  justify-content: end;
}
.navbar__enlaces ul li:last-child {
  font-weight: bolder;
  border: 1px solid rgba(255, 255, 255, 0.3333333333);
  border-radius: 10px;
}
.navbar .nav-item:hover a {
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2666666667);
}

@media screen and (max-width: 575.8px) {
  .navbar__enlaces ul li:last-child {
    border: none;
  }
}
/* estilos para titulos */
.titulo {
  justify-content: center;
  align-items: center;
  align-content: center;
}
.titulo__h1, .titulo__h2 {
  text-shadow: 0px 0px 5px;
  color: #0e18a9;
  text-align: center;
}
.titulo__div {
  width: 50px;
  box-shadow: 0px 0px 5px;
  border: 1px solid #0e18a9;
  top: -5px;
}

/* Footer */
.footer {
  background-color: #005ebe;
  color: white;
  font-size: 0.8rem;
  padding: 16px 10px;
}
.footer__row1 {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-content: center;
  padding: 5px 10px 16px 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.2666666667);
  color: white;
}
.footer__row2 {
  text-align: center;
}
.footer__p {
  padding: 4px;
}
.footer__div {
  padding: none;
  justify-content: center;
}
.footer__div img {
  width: 40px;
}
.footer__ul {
  justify-content: end;
}
.footer .nav-link {
  color: white;
  padding: 4px 8px;
}
.footer .nav-link:hover {
  color: #000;
}

/* media para breackpoint footer*/
@media (max-width: 767.98px) {
  .footer__row1 {
    gap: 16px;
  }
  .footer__p {
    text-align: center;
  }
  .footer__ul {
    justify-content: center;
  }
}

/*# sourceMappingURL=styles.css.map */
