.grid-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-areas:
    "none titulo"
    "filtros catalogo";
  background-color: rgb(234, 234, 234);
}

.titulo {
  grid-area: titulo;
  color: $azul-uno;
  padding: 5px;
  h1 {
    text-shadow: 0px 0px 4px;
  }
}

.filtros {
  grid-area: filtros;
  display: flex;
  flex-direction: column;
  padding: 5px;
  padding-top: 20px;

  .container-filtro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .btn-filtro {
    width: 100px;
    font-size: 1.2rem;
  }
  .filtros__op {
    width: 100%;
    margin-top: 5px;
  }
}
.list-filtros {
  list-style-type: none;
  padding: 0;
  text-align: center;
  a {
    text-decoration: none;
  }
}

.catalogo {
  grid-area: catalogo;
  display: flex;
  width: 98%;
  height: 98%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  padding-bottom: 40px;
  gap: 20px;
  box-shadow: $box-shadow;
  background-color: white;
  a {
    text-decoration: none;
    color: inherit;
  }
}

// Estilos para card-product

.card-product {
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 5px;
  box-shadow: $box-shadow;
  transition: all 0.2s;

  &:hover {
    box-shadow: $box-shadow-hover;
    box-shadow: inset 0px 0px 14px $azul-uno;
  }

  .card-img img {
    width: 100%;
    padding: 5px;
    height: 220px;
  }
  .card-datos {
    text-align: center;
    padding-top: 15px;
    border-top: $border-store;

    p {
      text-shadow: 0px 0px 1px;
    }
    h5 {
      font-size: 2rem;
      color: $azul-uno;
      text-shadow: 0px 0px 3px;
    }
  }
}
// media para grid responsive
@media screen and (max-width: 700px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "titulo"
      "filtros"
      "catalogo";
    background-color: rgb(234, 234, 234);
  }
  .filtros {
    flex-direction: row;
    justify-content: space-around;
  }
}
// styles for store-product
.container-producto {
  margin: 5px;
  padding:50px 5px 50px 5px ;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-around;
  align-items: center;
  width: 98%;
  margin: 0 auto;
}

.galery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: $box-shadow;
  border-radius: 3px;
  width:450px ;
  min-width: 330px;
  height: 500px;
  row-gap: 20px;
  .img-min {
    width: 40px;
    margin: 5px;
    box-shadow: $box-shadow;
    transition: all 0.2s;

    &:hover {
      box-shadow: $box-shadow-hover;
    }

    &:nth-child(1):hover ~ .img-zoom > img {
      left: 0px;
    }
    &:nth-child(2):hover ~ .img-zoom > img {
      left: -324px;
    }
    &:nth-child(3):hover ~ .img-zoom > img {
      left: -650px;
    }
    &:nth-child(4):hover ~ .img-zoom > img {
      left: -950px;
    }
    &:nth-child(5):hover ~ .img-zoom > img {
      left: -1284px;
    }
  }

  .img-zoom {
    overflow: hidden;
    width: 300px;
    height: 300px;
    box-shadow: $box-shadow;
    img {
      height: 100%;
      position: relative;
    }
  }
}

.information{
    width:450px ;
  min-width: 330px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  border-radius: 3px;
  box-shadow: $box-shadow;

    .name{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
            color: $azul-uno;
            text-shadow: 0px 0px 5px $azul-tres ;
        h1{
            font-size: 1rem;
            
        }
        h2{
            display: inline-block;
            width: 150px;
            font-size: 2rem;
        }
        h3{
            display: inline-block;
            padding: 5px;
            font-size: 0.8rem;
            text-shadow: none;
            border: 1px solid;
            border-radius: 5px;
        }

    }


}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 10px;

    .list-group{
        width: 100px;
        border-radius: 0px;
        li{
            padding: 5px;
        }
    }
}
