// Variables for colors
$azul-uno: #0e18a9;
$azul-dos: #005ebe;
$azul-tres: #8bc6ff;

// variables for carousel
$margin-carousel:5px 0px 0px 0px;
$shadow-carousel:0px 0px 10px #fff4;

// variables for planes

$plan-text-shadow:0px 0px 12px $azul-uno;

// variable for shadow
$box-shadow:0px 0px 5px black;
$box-shadow-hover:0px 0px 10px black;


//mapeo for contacto bucle
$contacto:(
    fb:blue,
    wa:green,
    go:red
);

