@import "./variables-mixins";

* {
  border: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
  box-sizing: border-box;
}

/* navbar */
.navbar {
  background-color: $azul-dos;
  padding: 8px 10px;
  font-size: 1rem;

  img {
    width: 30px;
  }

  &__enlaces ul {
    display: flex;
    width: 100%;
    justify-content: end;

    li:last-child {
      font-weight: bolder;
      border: 1px solid #fff5;
      border-radius: 10px;
    }
  }
  .nav-item:hover a {
    text-shadow: 0px 0px 5px #fff4;
  }
}

@media screen and (max-width: 575.8px) {
  .navbar__enlaces ul li:last-child {
    border: none;
  }
}

/* estilos para titulos */
.titulo {
  justify-content: center;
  align-items: center;
  align-content: center;

  &__h1,
  &__h2 {
    text-shadow: 0px 0px 5px;
    color: $azul-uno;
    text-align: center;
  }
  &__div {
    width: 50px;
    box-shadow: 0px 0px 5px;
    border: 1px solid $azul-uno;
    top: -5px;
  }
}

/* Footer */
.footer {
  background-color: $azul-dos;
  color: white;
  font-size: 0.8rem;
  padding: 16px 10px;

  &__row1 {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-content: center;
    padding: 5px 10px 16px 10px;
    border-top: 1px solid #fff4;
    color: white;
  }

  &__row2 {
    text-align: center;
  }

  &__p {
    padding: 4px;
  }

  &__div {
    padding: none;
    justify-content: center;
    img {
      width: 40px;
    }
  }

  &__ul {
    justify-content: end;
  }

  .nav-link {
    color: white;
    padding: 4px 8px;

    &:hover {
      color: #000;
    }
  }
}

/* media para breackpoint footer*/
@media (max-width: 767.98px) {
  .footer__row1 {
    gap: 16px;
  }
  .footer__p {
    text-align: center;
  }
  .footer__ul {
    justify-content: center;
  }
}
